<% if (question.type == 'Freeform') { %>
  <div class="card-footer" id="question-panel-footer">
    <% if (showTrueAnswer && (question_context == 'student_exam')) { %>
    This question is complete and cannot be answered again.
    <% } else { %>
    <div class="row">
      <div class="col d-flex justify-content-between">
        <span class="d-flex align-items-center">
          <% if (showSaveButton) { %>
            <button id="save-submission" class="btn btn-info question-save disable-on-submit order-2" type="button">
              <% if (showGradeButton) { %>
                Save only
              <% } else { %>
                Save
              <% } %>
            </button>
          <% } %>
          <% if (showGradeButton) { %>
              <% if (question_context == 'student_homework') { %>
                  <button id="grade-submission" class="btn btn-primary question-grade disable-on-submit order-1 mr-1" type="button">Save & Grade
                      <% if ((assessment_question.tries_per_variant - variant.num_tries) > 1) { %>
                          <span class="badge">
                              <%= String(assessment_question.tries_per_variant - variant.num_tries) %>
                              tries left
                          </span>
                      <% } %>
                  </button>
              <% } else { %>
                  <button id="grade-submission" class="btn btn-primary question-grade disable-on-submit order-1 mr-1" type="button">Save & Grade</button>
              <% } %>
          <% } %>
          <% if (showManualGradingMsg) { %>
          <span class="order-3 ml-2">This question will be manually graded.</span>
          <% } %>
        </span>
        <span class="d-flex">
          <input type="hidden" name="__variant_id" value="<%= variant.id %>">
          <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
          <% if (showNewVariantButton) { %><a href="<%= newVariantUrl %>" class="btn btn-primary disable-on-click ml-1">New variant</a><% } %>
          <% if (showTryAgainButton) { %><a href="<%= tryAgainUrl %>" class="btn btn-primary disable-on-click ml-1">Try question again</a><% } %>
        </span>
      </div>
    </div>
    <script>
      const saveButton = document.querySelector('#save-submission');
      const gradeButton = document.querySelector('#grade-submission');
      const questionPanelFooter = document.querySelector('#question-panel-footer');
      const questionForm = document.querySelector('#question-form');
      const questionIframe = document.querySelector('#question-iframe');

      console.log(saveButton);
      console.log(gradeButton);

      const addAction = (actionValue) => {
        let action = document.createElement('input');
        action.setAttribute('type', 'hidden');
        action.setAttribute('name', '__action');
        action.setAttribute('value', actionValue);
        questionPanelFooter.appendChild(action);
      }

      const serializeInputs = async () => {
        return new Promise((resolve, reject) => {
          function receiveMessage(event) {
            if (event.data.type === 'inputs_serialized') {
              console.log(event.data);
              // Put all the inputs into *our* DOM.
              event.data.inputs.forEach(inputData => {
                const tagName = inputData.tagName.toLowerCase();
                if (tagName !== 'input' && tagName !== 'textarea') return;

                let input = document.createElement(tagName);
                if (inputData.name) input.setAttribute('name', inputData.name);
                if (inputData.type) input.setAttribute('type', inputData.type);
                if (inputData.value) input.setAttribute('value', inputData.value);
                if (inputData.checked) input.setAttribute('checked', inputData.checked);
                // TODO: are the any additional attributes that we need to take care of?
                input.style.display = 'none';
                questionPanelFooter.appendChild(input);
              })
              window.removeEventListener('message', receiveMessage);
              resolve();
            }
          }
          window.addEventListener('message', receiveMessage);
          questionIframe.contentWindow.postMessage({
            type: 'serialize_inputs',
          }, '*');
        })
      }

      // Prevent triggering another form submission after the button was clicked
      // Necessary in case the submission process takes a while
      let buttonClicked = false;

      if (saveButton) {
        saveButton.addEventListener('click', async () => {
          if (buttonClicked) return;
          buttonClicked = true;

          console.log('save clicked');

          addAction('save');
          await serializeInputs();
          questionForm.submit();
        });
      }
      if (gradeButton) {
        gradeButton.addEventListener('click', async () => {
          if (buttonClicked) return;
          buttonClicked = true;

          console.log('grade clicked');

          addAction('grade');
          await serializeInputs();
          questionForm.submit();
        })
      }
    </script>
    <% } %>
  </div>
<% } else { %>
  <div class="card-footer" id="question-panel-footer">
    <form class="question-form" name="question-form" method="POST">
      <% if (showTrueAnswer && (question_context == 'student_exam')) { %>
      This question is complete and cannot be answered again.
      <% } else { %>
      <div class="row">
        <div class="col d-flex justify-content-between">
          <span class="d-flex align-items-center">
              <% if (showSaveButton) { %>
                <button class="btn btn-info question-save disable-on-submit order-2">
                  <% if (showGradeButton) { %>
                    Save only
                  <% } else { %>
                    Save
                  <% } %>
                </button>
              <% } %>
              <% if (showGradeButton) { %>
                  <% if (question_context == 'student_homework') { %>
                      <button class="btn btn-primary question-grade disable-on-submit order-1 mr-1">Save & Grade
                          <% if ((assessment_question.tries_per_variant - variant.num_tries) > 1) { %>
                              <span class="badge">
                                  <%= String(assessment_question.tries_per_variant - variant.num_tries) %>
                                  tries left
                              </span>
                          <% } %>
                      </button>
                  <% } else { %>
                      <button class="btn btn-primary question-grade disable-on-submit order-1 mr-1">Save & Grade</button>
                  <% } %>
              <% } %>
              <% if (showManualGradingMsg) { %>
              <span class="order-3 ml-2">This question will be manually graded.</span>
              <% } %>
          </span>
          <span class="d-flex">
            <input type="hidden" name="__csrf_token" value="<%= __csrf_token %>">
            <input type="hidden" name="postData" class="postData">
            <input type="hidden" name="__action" class="__action">
            <% if (showNewVariantButton) { %><a href="<%= newVariantUrl %>" class="btn btn-primary disable-on-click ml-1">New variant</a><% } %>
            <% if (showTryAgainButton) { %><a href="<%= tryAgainUrl %>" class="btn btn-primary disable-on-click ml-1">Try question again</a><% } %>
          </span>
        </div>
      </div>
      <% } %>
    </form>
  </div>
<% } %>
<script>
  // Install on page load and reinstall on websocket re-render
  $('a.disable-on-click').on('click', function() {
    $(this).addClass('disabled');
  });
</script>
