<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script src="<%= node_modules_asset_path('lodash/lodash.min.js') %>"></script>
    <script src="<%= node_modules_asset_path('d3/dist/d3.min.js') %>"></script>
    <script src="<%= asset_path('localscripts/histmini.js') %>"></script>
  </head>
  <script>
    $(() => {
        $('[data-toggle="popover"]').popover({
            sanitize: false,
            container: 'body',
            html: true,
            trigger: 'hover',
        }).on("show.bs.popover", function() {
            $($(this).data("bs.popover").getTipElement()).css("max-width", "80%");
        });;
    });
  </script>
  <body>
    <%- include('../partials/navbar'); %>
    <div id="content" class="container-fluid">
      <%- include('../partials/assessmentSyncErrorsAndWarnings'); %>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex align-items-center">
          <%= assessment_set.name %> <%= assessment.number %>: Questions
        </div>
        test interface
      </div>

    </div>
  </body>
</html>